.success {
	padding: 10px;
	color: white;
	background-color: green;
	font-size: 18px;
	border-bottom: green 2px solid;
}

.accident-claim-container {
	padding: 100px 190px 100px 155px;
}
.accident-list {
    list-style: none;   /* remove default bullets */
    padding-left: 0;
}

.accident-list li {
    position: relative;
    padding-left: 22px;   /* space for bullet */
    margin-bottom: 10px;
	font-size: 20px;
}

.accident-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #000; /* filled black */
    border-radius: 50%;
}


.accident-claim-section {
	background-color: #004c78;

	color: white;
}
.accident-claim-section .heading h1 {
	text-align: left;
	font-size: 35px;
	font-weight: 600;
	color: white;
}
.accident-claim-section .heading p {
	text-align: left;
	font-size: 20px;
	font-weight: 400;
	color: white;
}

.accident-claim-content h1 {
	text-align: left;
	font-size: 45px;
	font-weight: 600;
	color: black;
	margin-bottom: 20px;
}
.accident-claim-content h2 {
	text-align: left;
	font-size: 28px;
	font-weight: 600;
	color: black;
	margin-bottom: 20px;
}
.accident-claim-content h3 {
	text-align: left;
	font-size: 25px;
	font-weight: 600;
	color: black;
	margin-bottom: 20px;
}



.accident-claim-content p {
	text-align: left;
	font-size: 20px;
	color: black;
	margin-bottom: 20px;
}
.accident-claim-content img {
	width: 90%;
}

.name_div {
	margin-top: 10px;
	width: 280px;
}
.phone_div {
	margin-top: 20px;
	height: 50px;
	/* background-color: green; */
}
.enquiry_div {
	margin-top: 50px;
	height: 125px;
	/* background-color: green; */
}
.input_fields {
	margin-top: 10px;
	border-style: solid;
	border-radius: 8px;
	border-color: #d0d5dd;
}

textarea {
	height: 165px;
}
.btnsubmit {
	font-size: 20px;
	background-color: #ff6500;
	color: white;
	height: 58px;
	border-radius: 8px;
	border-color: #ff6500;
	font-weight: 400;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 70px;
	letter-spacing: 2px;
}
.contact-detail-container {
	padding: 78px 175px 100px 175px;
}
.contact_icon {
	width: 57px;
	padding-right: 10px;
}
.contact-detail-container h1 {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
	color: white;
}
.contact-detail-container h2 {
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 600;
	color: white;
}

.contact-detail-container h5 {
	font-size: 20px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}

.contact-detail-container p {
	font-size: 20px;
	font-weight: 500;
	color: white;
	margin-top: -10px;
}
.subbottom_text {
	text-align: center;
	font-family: "Helvetica Neue Medium";
	font-size: 23px;
	color: white;
	font-weight: 700;
	margin-top: 10px;
}
.subbottom_text a {
	margin-left: 10px;
	color: white;
	text-decoration: underline;
}
@media only screen and (max-width: 1366px) {
	.contact-detail-container {
		padding: 10px 10px 20px 10px;
		/* background-color: red; */
	}
}

@media only screen and (max-width: 1024px) {
	.accident-claim-section {
		width: 95%;
	}
}

@media only screen and (max-width: 767px) {
	.accident-claim-section .heading h1 {
		font-size: 25px;
	}

	.btnsubmit {
		font-size: 22px;
	}

	.accident-claim-content h1 {
		font-size: 33px;
	}

	.accident-claim-content img {
		width: 100%;
		margin-top: 10px;
	}

	.accident-claim-content h2 {
		font-size: 22px;
	}
		.accident-claim-content h3 {
		font-size: 18px;
	}

	.accident-claim-content p {
		font-size: 17px;
	}

	.contact-detail-container h2 {
		margin-top: 30px;
	}

	.contact-detail-container h5 {
		font-size: 19px;
	}

	.contact_icon {
		margin-top: 2px;
	}

	.accident-claim-section .heading p {
		font-size: 18px;
		margin-top: 5px;
	}

	.accident-claim-container {
		width: 100%;
		padding: 100px 20px 100px 20px;
	}

	.name_div {
		margin-top: 20px;
		width: 100%;
		height: 50px;
	}

	.phone_div {
		margin-top: 50px;
	}

	.contact-detail-container {
		padding: 10px 9px 20px 13px;
		/* background-color: red; */
	}

	.subbottom_text {
		padding: 27px 16px 10px 22px;
		font-size: 19px;
	}
}
