.airports-transfer-section {
	padding: 77px 160px 100px 160px;
}

@media only screen and (max-width: 1866px) {
	.airports-transfer-section {
		padding: 77px 85px 100px 85px;
	}
}

@media only screen and (max-width: 1366px) {
	.airports-transfer-section {
		padding: 77px 5px 100px 5px;
	}
}

@media only screen and (max-width: 1024px) {
	.airports-transfer-section {
		padding: 77px 30px 100px 30px;
	}
}

.airport-transfer-vehicle-types {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 4 columns in one row */
	gap: 20px;
}

.airport-transfer-vehicle-types > div {
	padding: 20px 0px 20px 0px;
}

@media (max-width: 576px) {
	.airport-transfer-vehicle-types {
		grid-template-columns: 1fr;
	}
}

.airports-transfer-section h2 {
	font-size: 36px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 25px;
}

.airports-transfer-section h3 {
	font-size: 24px;
	font-weight: 600;
	color: #000000;
}

.airports-transfer-section p {
	font-size: 18px;

	color: #000000;
}
.airport-transfer-vehicle-types h2 {
	font-size: 26px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 30px;
}


.airport-transfer-vehicle-types h4 {
	font-size: 22px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 10px;
}

.airport-transfer-vehicle-types img {
	width: 75%;
}

.airport-transfer-vehicle-types ul li {
	font-size: 17px;
	margin-bottom: 10px;
	color: #111;
	line-height: 1.7;
}

.airport-transfer-vehicle-types p {
	padding: 0px 180px 0px 0px;
	font-size: 17px;
	color: #000000;
}

@media (max-width: 992px) {
	.airport-transfer-vehicle-types {
		grid-template-columns: repeat(1, 1fr);
	}

	.airport-transfer-vehicle-types img {
	width: 100%;
}
.airport-transfer-vehicle-types h2 {
	font-size: 20px;
	margin-bottom: 10px;
	
}
.airport-transfer-vehicle-types h4 {
	font-size: 17px;
	
}

	.airport-transfer-vehicle-types p {
		padding: 0px 20px 0px 0px;
		font-size: 15px;
	}

	.airport-transfer-vehicle-types ul li {
		font-size: 15px;
	}
}
