html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #000;
    font-family: 'Helvetica 55 Roman';
    font-size: 100%;
    color: #fff;
    margin: 0;
    text-align: left;
}

section {
    display: block;
}

.commonbanner {
    position: relative;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(9,74,108,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(9,74,108,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(9,74,108,0.4) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66094a6c', endColorstr='#00000000',GradientType=0 );
}

.sub_banner_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(9,74,108,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(9,74,108,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(9,74,108,1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3094a6c', endColorstr='#00000000',GradientType=0 );
}

.commonbanner > img {
    width: 100%;
    object-fit: cover;
}

img {
    /* display: block; */
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

img, object, embed {
    max-width: 100%;
}

.subpagecontent {
    position: relative;
    padding: 10px 10px;
}

.subpagecontent > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* commented this code because of header phone image issue */
/* img {
    display: block;
    border: 0 none;
    height: auto;
    max-width: 100%;
    /* vertical-align: bottom; */
/* } */ */

img, object, embed {
    max-width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.contact_wrapper {
    position: relative;
    margin: 4.8828125% 2.9296875% 2.9296875%;
}

.columnwrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.columnwrapper > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact_column {
    flex-basis: 49.27385892116183%;
    max-width: 49.27385892116183%;
}

.contact_column h1, h1.reviewshead {
    position: relative;
    font-family: 'Helvetica Neue Condensed Bold';
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.address_wrapper {
    font-family: 'Helvetica 55 Roman';
    font-size: 19px;
}

.sitename {
    font-family: 'Helvetica Neue Bold';
    color: #f38422;
    font-weight: 900;
}

a.contactmail {
    color: #f38422;
}

.address_wrapper a {
    color: #fff;
}

a {
    color: #000000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:-webkit-any-link {
    color: #f38422;
    cursor: pointer;
    /* text-decoration: underline; */
}

.address_wrapper {
    color: white !important;
    font-family: 'Helvetica 55 Roman';
    font-size: 18px;
}

.sitename {
    font-family: 'Helvetica Neue Bold';
    color: #f38422;
}
/* -------------------------------------------- */
.columnwrapper > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact_column {
    flex-basis: 49.27385892116183%;
    max-width: 49.27385892116183%;
}

form {
    display: block;
    margin-top: 0em;
}

.contact_column h1, h1.reviewshead {
    color: white;
    position: relative;
    font-family: 'Helvetica Neue Condensed Bold';
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
.br-class{
    color: white;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul.formfields {
    position: relative;
    list-style: none;
    border: #000 1px solid;
}

ul.formfields li {
    position: relative;
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: none;
}

ul.formfields li input {
    display: block;
    width: 100%;
    background: #fff;
    font-family: 'Helvetica 55 Roman';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    /* text-transform: uppercase; */
    padding: 12px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #000 1px solid;
    outline: none;
}

button, input, select, textarea {
    margin: 0;
}

select, input, textarea {
    font: 99% sans-serif;
}

input, select {
    vertical-align: middle;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

/* input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
} */

input {
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ; */
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* li {
    text-align: -webkit-match-parent;
} */

/* ul.formfields {
    position: relative;
    list-style: none;
    border: #000 1px solid;
} */

/* ul {
    list-style: none;
}

ul {
    list-style-type: disc;
} */

/* .columnwrapper > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
} */

element.style {
    width: 496px;
    height: 62px;
}

ul.formfields li textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    background: #fff;
    min-height: 80px;
    font-family: 'Helvetica 55 Roman';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    /* text-transform: uppercase; */
    padding: 12px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #000 1px solid;
    outline: none;
}

button, input, select, textarea {
    margin: 0;
}

select, input, textarea {
    font: 99% sans-serif;
}

.capimage {
    position: absolute;
    right: 4px;
    top: 4px;
}

img {
    /* display: block; */
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

img, object, embed {
    max-width: 100%;
}

.contact_column button {
    display: block;
    max-width: 80px;
    background: #f38422;
    font-family: 'Helvetica Neue Bold';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: #f38422 1px solid;
    padding: 8px 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: auto;
}

button, input[type=button] {
    width: auto;
    overflow: visible;
}

button, input, select, textarea {
    margin: 0;
}

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
}

button {
    appearance: auto;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ; */
    text-rendering: auto;
    /* color: buttontext; */
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    /* background-color: buttonface; */
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#footer, #content {
    position: relative;
    width: 100%;
}

article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}


.success{
    color: green;
    background-color: white;
    font-size: 27px;
}