

/* ------------------ahmed css ------------------ */

/* .flex-contactus-container {
	display: flex;
	flex-direction: row;
	gap: 60px;
	justify-content: space-between;
	/* Adjust the value as needed */
/* } */ */

.contact_form{
    padding: 100px 300px 100px 300px ;
}