.banner-section {
	background-color: #004c78;
	text-align: center;
}

.banner-image {
	max-inline-size: 100%;
	block-size: auto;
}

.destination {
	margin-block-start: 40px;
	
}

.destination span a {
	text-align: start;
	color: #101828 !important;
	font-family: "Helvetica 55 Roman";
	font-size: 25px;
	line-height: 40px;
	font-weight: 500;
}

.destination_wrapper h1 {
	color: black;
	font-family: "Helvetica Neue Condensed Bold";
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	margin-block-end: 10px;
}

.destination_wrapper p {
	color: #818181;
	font-family: "Helvetica 55 Roman";
	font-size: 20px;
	line-height: 30px;
	margin-block-end: 20px;
}

.destination_content_div {
	padding: 77px 400px 100px 400px;
}

.destination_content_p_div {
	padding:0px 400px 100px 400px;
}

@media only screen and (max-width: 1366px) {
	.destination_content_div {
		padding: 50px 150px 50px 150px;
	}
	.destination_content_p_div {
		padding: 50px 150px 50px 150px;
	}
}

@media only screen and (max-width: 1024px) {
	.destination_content_div {
		padding: 50px 100px 50px 100px;
	}
	.destination_content_p_div {
		padding: 50px 100px 50px 100px;
	}
}

@media only screen and (max-width: 767px) {
	.destination h2 a {
		/* margin-left: 10px; */
		font-size: 20px;
		line-height: 25px;
		font-weight: 500;
	}

	.destination_content_div {
		padding: 30px 30px 30px 30px;
	}

	.destination_content_p_div {
		padding: 30px 30px 30px 30px;
	}

	.aboutus_wrapper p {
		color: #818181;
		font-family: "Helvetica 55 Roman";
		font-size: 18px;
		line-height: 27px;
		margin-block-end: 19px;
	}
}
