img,
object,
embed {
	max-width: 100%;
}

.banner-section {
	background-color: #004c78;
	text-align: center;
}

.banner-image {
	max-width: 100%;
	height: auto;
}

.booking-form h2 {
	font-size: 48px !important;
	font-weight: 600;
	color: #101828;
	margin-top: 40px;
}

.booking-form p {
	font-size: 20px;
	font-weight: 400;
	color: white;
	margin-top: 10px;
	margin-bottom: 40px;
}

.pickupTime-Height {
	height: 190px;
}

.promo-text{
	font-size: 13px;
}

/* ------------------------ RESPONSIVE START ------------------------------------- */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
	.pickupTime-Height {
		height: 270px;
	}

	.booking-form h2 {
		font-size: 29px;
		margin-top: 0px;
	}
	.booking-form p {
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	.promo-text{
		font-size: 12px;
		margin-left: -14px;
	}
}
