img,
object,
embed {
	max-width: 100%;
}

.banner-section {
	background-color: #004c78;
	text-align: center;
}

.banner-image {
	max-width: 100%;
	height: auto;
}

.drivers_content_div {
	padding: 77px 100px 100px 100px;
}

.background-gray {
	background-color: #f9fafb;
}

.drivers_wrapper {
	margin: 3.8359375% 4.6953125%;
}

.drivers_margin {
	margin: 3.8359375% 4.6953125%;
}

.drivers_wrapper h1 {
	color: black;
	font-family: "Helvetica Neue Condensed Bold";
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 30px;
}

.drivers_wrapper p {
	color: #818181;
	font-family: "Helvetica 55 Roman";
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}

.subbottom_text {
	text-align: center;
	font-family: "Helvetica Neue Medium";
	font-size: 23px;
	color: #000000;
	font-weight: 700;
	margin-top: 80px;
}

.subbottom_text a {
	margin-left: 10px;
	color: #000000;
	text-decoration: underline;
}

.terms_icon {
	padding-right: 10px;
	padding-top: 6px;
	margin-bottom: auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	gap: 60px;
	justify-content: space-between;
	/* Adjust the value as needed */
}

.docs {

	padding: 50px 130px 50px 130px;
	text-align: center;
	margin-top: 40px;
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
}

.docs p {
	color: #818181;
	font-family: "Helvetica 55 Roman";
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
}

.docs .download-btn {
	font-size: 18px;
	color: #004c78;
	font-weight: 500;
	text-decoration: underline;
}

/* ------------------------ RESPONSIVE START ------------------------------------- */

@media only screen and (max-width: 1366px) {
	.docs {
		margin-top: 20px;
		padding: 50px 30px 50px 30px;
	}
}

@media only screen and (max-width: 1024px) {
	.drivers_content_div {
		padding: 30px 0px 0px 0px;
	}
	.docs {
		margin-top: 20px;
		padding: 50px 30px 50px 30px;
	}
}

@media only screen and (max-width: 767px) {
	.drivers_content_div {
		padding: 30px 0px 0px 0px;
	}

	.flex-container {
		gap: 10px;
		flex-direction: column;
	}
	.docs {
		margin-top: 20px;
		padding: 50px 30px 50px 30px;
	}
}
