/* ===== Heathrow Guide Section Styling ===== */

.heathrow-container {
	/* background-color: #d6dfe7; */
	padding: 0px 160px 100px 160px;
}

.section-marginTop {
	margin-top: 80px;
}

@media only screen and (max-width: 1866px) {
	.heathrow-container {
		padding: 77px 85px 100px 85px;
	}
}

@media only screen and (max-width: 1366px) {
	.heathrow-container {
		padding: 77px 5px 100px 5px;
	}
}

@media only screen and (max-width: 1024px) {
	.heathrow-container {
		padding: 77px 30px 100px 30px;
	}
}

/* Responsive adjustments */
@media (max-width: 767px) {
}

.heathrow-title {
	font-size: 30px;
	font-weight: 800;
	color: #000;
	margin-bottom: 20px;
}
.heathrow-subTitle {
	font-size: 25px;
	font-weight: 800;
	color: #000;
}
.heathrow-parahraph {
	font-size: 17px;
	color: #333;
	line-height: 1.5;
	margin-bottom: 15px;
	text-align: left;
	margin-bottom: 5px;
}
.heathrow-link {
	color: #333;
	text-decoration: underline;
}

.heathrow-btn {
	font-size: 16px;
}

/* ===== Terminal Bullet Styling ===== */

.terminal-features {
	margin-top: 15px;
	padding-left: 20px;
}

.terminal-features li {
	margin-bottom: 8px;
	list-style-type: disc;
}

.terminal-features li strong {
	font-size: 18px;
	color: #000;
}

.terminal-features p {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 16px;
	color: #444;
	line-height: 1.6;
}

.heathrow-attractions-list li {
	margin-top: 20px;
	list-style: disc;
	margin-left: 20px; /* required to show bullets */
}

/* Mobile */
@media (max-width: 767px) {
	.heathrow-attractions-list li {
		margin-top: 10px;
		list-style: disc;
		margin-left: 10px; /* required to show bullets */
	}

	.terminal-features li strong {
		font-size: 16px;
	}
	.terminal-features p {
		font-size: 15px;
	}
}

.heathrow-btn{
padding: 12px 55px !important; 
}

.heathrow-terminals-section-img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 767px) {
	.heathrow-terminals-section-img {
		margin-top: 25px;
	}


.heathrow-btn{
	margin-top: 10px;
padding: 12px 30px !important; 
}

.heathrow-title {
	font-size: 23px;
	
}

}
