.shape-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.book-container {
    background-color: #d6dfe7;
    padding: 15px 310px 22px 229px;
}

.taxi-heading {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.shape-container>div {
    flex: 1 1 100px;
    max-width: 260px;
}

/* Adjusted width for all horizontal lines */
.horizontal-line {
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 10px auto;
    margin-bottom: 74px;
}

.main-heading {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    color: #00517c;
    font-weight: 600;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.image-container {
    width: 56px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: fit-content;
    height: 58%;
    object-fit: cover;
}

.sub-heading {
    height: 100px;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 30px;
    color: #00517c;
    font-weight: 400;
}

@media only screen and (max-width: 1688px) {
    .book-container {
        padding: 5px 90px 0px 90px;
    }
    .sub-heading {
        height: 70px;
    }
    .horizontal-line {
    margin-bottom: 44px;
}
}

@media (max-width: 1350px) {
    .book-container {
        padding: 17px 10px 0px 10px;
    }
}

@media (max-width: 1171px) {
    .book-container {
        padding: 17px 2px 0px 2px;
    }

    .shape-container>div {
        max-width: 234px;
    }
}

@media (max-width: 1133px) {
    .shape-container>div {
        max-width: 170px;
    }

    .image-container {
        width: 46px;
        height: 41px;
    }

    .image-container img {
        height: 49%;
    }
}

@media (max-width: 1032px) {
    .shape-container>div {
        max-width: 165px;
    }
}

@media (max-width: 1024px) {
    .shape-container>div {
        max-width: 155px;
    }
    .sub-heading {
        height: 100px;
      
    }
    .book-container {
        padding: 17px 10px 0px 10px;
    }
}

@media (max-width: 1005px) {
    .shape-container {
        flex-direction: column;
    }

    .horizontal-line {
        width: 2px;
        height: 100px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .sub-heading {
        height: 0px;
        margin-bottom: 20px;
    }

    .image-container {
        width: 52px;
        height: 45px;
    }
}

.howToBook-img {
    display: none;
}

/* Media query for mobile view */
@media (max-width: 767.98px) {
    .howToBook-img {
        /* margin-top: 40px; */
        width: -webkit-fill-available;
        display: block;
    }

    .image-container img {
        height: 58%;
    }

    .main-heading {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .taxi-heading {
        font-size: 29px;
        margin-bottom: 0px;
    }

    .shape-container>div {
        max-width: 260px;
    }

    .book-container {
        padding: 27px 7px 49px 22px;
    }

    .book-container {
        display: none;
    }
}