/*  ----------------------------------- COMMON CODE  START -------------------------------- */

.hide {
	display: none;
}

.menu-side-wrapper li a {
	color: #fff;
}

/*  ============================= COMMON CODE  END  ================================= */

/*  ----------------------------------- BANNER COMPONENT   START -------------------------------- */

.limits-banner {
	/* background-image: url("../images/homebanner.jpg"); */
	/* background-size: cover;
    background-repeat: no-repeat; */
	background-color: #00517c;
	height: 100%;
	width: 100%;
	padding: 100px 0;
	position: relative;
}

.limits-banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(9, 74, 108, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.limits-banner .book-form-box {
	margin-top: 95px;
	background-color: rgba(0, 0, 0, 0.78);
	border-radius: 10px;
}

.limits-banner .book-form-box .head {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.limits-banner .book-form-box .head h1 {
	color: #fff;
	font-size: 32px;
	font-family: "allerdisplay";
}

.limits-banner .book-form-box .content {
	padding: 0 15px 15px 15px;
}

.limits-banner .book-form-box .content .form-inner {
	background-color: #00517c;
	padding: 10px;
}

.limits-banner .book-form-box .content .form-inner .form-group label {
	color: #fff;
	font-size: 10px;
	margin: 8px 0 0px 0;
}

.limits-banner .book-form-box .content .form-inner .form-group .form-control {
	border-radius: 0;
	border: 0;
	padding: 8px 10px;
	margin-top: 10px;
}

.limits-banner .book-form-box .content .form-inner .form-group button {
	color: #f38422;
	border: 0;
	background: 0;
	height: 0;
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.limits-banner .book-form-box .content .form-inner .form-group button i {
	font-size: 12px;
	padding-right: 5px;
}

.limits-banner .book-form-box .content .form-inner .submit-btn {
	width: 100%;
	background-color: #ff700a;
	color: #fff;
	border: 0;
	border-radius: 25px;
	padding: 10px;
	text-transform: uppercase;
}

.limits-banner .banner-details {
	margin-top: 95px;
	background-color: rgba(0, 0, 0, 0.78);
	border-radius: 10px;
	padding: 20px;
}

.limits-banner .banner-details h1 {
	font-size: 26px;
	color: #f38422;
	margin: 0 0 10px;
	font-family: "helvet";
}

.limits-banner .banner-details p {
	color: #fff;
	margin-top: 15px;
	font-family: "helvetnormal";
	font-size: 16px;
	line-height: 20px;
}

.limits-banner .banner-details p span {
	color: #f38422;
	font-weight: 500;
}

.limits-banner .banner-details p .block-span {
	display: block;
}

.limits-banner .banner-details p a {
	color: #f38422;
}

@media only screen and (max-width: 768px) {
	.limits-banner {
		height: auto !important;
		background-image: none;
		background-color: #000;
		padding: 0;
	}
	.limits-banner .book-form-box {
		margin-top: 5px;
	}
	.limits-banner .book-form-box .head h1 {
		font-size: 20px;
	}
	.limits-banner .book-form-box .content {
		padding: 0;
	}
	.limits-banner .banner-details h1 {
		font-size: 18px;
		text-align: center;
	}
	.limits-banner .banner-details {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 0;
		margin-left: 12px;
		margin-right: 12px;
	}
	.limits-banner .banner-details p {
		font-size: 15px;
		text-align: center;
	}
	.limits-banner::before {
		display: none;
	}
	.h-md-100 {
		height: auto !important;
	}
	.limits-banner .book-form-box .head {
		display: block;
		text-align: center;
	}
	.limits-banner .banner-details p .block-span {
		display: inline-block;
	}
}

/*  =============================BANNER COMPONENT  END  ================================= */

/*  ----------------------------------- OUR FLEET COMPONENT START -------------------------------- */

.carlist-wrapper {
	/* background-image: url("../images/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
	width: 100%;
	padding: 50px 0;
}
.carlist-wrapper h1 {
	color: #155a94;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	font-family: "helvet";
	text-transform: uppercase;
}








.carlist-wrapper .car-box img {
	margin-top: 8px;
	margin-bottom: 16px;
}




@media only screen and (max-width: 480px) {
	.carlist-wrapper .car-box {
		min-height: unset !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.limits-banner .banner-details h1 {
		font-size: 26px !important;
	}
}







/* ------------Ahmed css ----------------- */


.home_container {
	background-color: #F9FAFB;
    padding: 77px 230px 100px 230px;
}

 .car-box {

	/* background-color: rgb(0 81 124); */

	margin-top: 28px;
	opacity: 1;
	min-height: 320px;
}

.image_card{
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
	background-color: black;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

    padding: 20px 50px 10px 50px;
}


.text_card{
	
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px 50px 10px 20px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}


.text_card p {
	color: #475467;
	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
}

.text_card h2 {
    color: #101828;
    font-size: 22px;
    font-family: "helvet";
}

.text_card   h3 {
    color: #004C78;
    font-size: 16px;
    font-weight: 500;
	margin-top: 15px;
}



.carlist-wrapper .list-details-box {
	margin-top: 24px;
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
	/* background-color: red; */
	padding: 20px 46px 20px 78px;
}





.carlist-wrapper .list-details-box h4 {
	color: #004C78;
	font-size: 30px;
	font-weight: 600;
	font-family: "helvet";
	margin-right: 25px;
}

.carlist-wrapper .list-details-box p {
	color: #000000;
	margin-top: 15px;
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
}


 .flag-div{
	width: fit-content;
 }





/*  ============================= OUR FLEET COMPONENT END  ================================= */



























/*  ----------------------------- COUPON COMPONENT START ------------------------------------- */

.coupen-header {
	font-size: 60px;
}

.coupen-text {
	font-size: 20px;
}

.coupen-code {
	font-size: 32px;
	color: #155a94;
	font-weight: 900;
}

/*================(640)================*/
@media screen and (max-width: 40em) {
	.coupen-header {
		font-size: 30px;
	}

	.coupen-text {
		font-size: 15px;
	}

	.coupen-code {
		font-size: 25px;
	}
}

/*  ================================= COUPON COMPONENT END  ======================================= */


@media only screen and (max-width: 1366px) {
	.home_container {
	
		padding: 77px 60px 100px 60px;
	}
}


@media only screen and (max-width: 1024px) {
	.home_container {
	
		padding: 77px 30px 100px 30px;
	}
}