/*  ----------------------------------- COMMON CODE  START -------------------------------- */

.hide {
	display: none;
}

.menu-side-wrapper li a {
	color: #fff;
}

/*  ============================= COMMON CODE  END  ================================= */

/*  ----------------------------------- BANNER COMPONENT   START -------------------------------- */

.limits-banner {
	background-color: #00517c;
	position: relative;
}

.limits-banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(9, 74, 108, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.limits-banner .book-form-box {
	background-color: rgba(0, 0, 0, 0.78);
	border-radius: 20px;
}

.limits-banner .book-form-box .head {
	padding: 20px 23px 20px 23px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.limits-banner .book-form-box .head h1 {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	/* font-family: "allerdisplay"; */
}

.limits-banner .book-form-box .content {
	padding: 0 15px 15px 15px;
}

.limits-banner .book-form-box .content .form-inner {
	background-color: #00517c;
	padding: 10px;
	border-radius: 12px;
}

.limits-banner .book-form-box .content .form-inner .form-group label {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin: 8px 0 0px 0;
}

.limits-banner .book-form-box .content .form-inner .form-group .form-control {
	border-radius: 0;
	border: 0;
	padding: 8px 10px;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 40px;
	height: 45px;
}

.limits-banner .book-form-box .content .form-inner .form-group button {
	color: #f38422;
	border: 0;
	background: 0;
	height: 0;
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.limits-banner .book-form-box .content .form-inner .form-group button i {
	font-size: 12px;
	padding-right: 5px;
}

.limits-banner .book-form-box .content .form-inner .submit-btn {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	background-color: #ff700a;
	color: #fff;
	border: 0;
	border-radius: 4px;
	padding: 10px;
	text-transform: uppercase;
	margin-bottom: 30px;
	height: 45px;
}

/* ---------------ahmed css ------------------------  */

.banner_container {
	padding: 77px 170px 100px 170px;
}

.limits-banner .banner-details {
	margin-top: 95px;
	/* background-color: red; */
	border-radius: 10px;
	padding: 20px 80px 20px 20px;
}

.limits-banner .banner-details h1 {
	font-size: 65px;
	font-weight: 500;
	line-height: 60px;
	color: #f38422;
	margin: 0 0 10px;
	font-family: "helvet";
}

.limits-banner .banner-details p {
	color: #e4e4e4;
	margin-top: 30px;
	font-family: "helvetnormal";
	font-size: 30px;
	line-height: 40px;
}

.box-padding {
	padding-left: 150px !important;
}

.text-container {
	margin-top: 50px;
	padding: 78px 310px 100px 229px;
}
.text-container p {
	font-size: 18px;
	font-weight: 400;
	color: black;
	line-height: 30px;
}
.text-container p a {
	font-size: 18px;
	font-weight: 400;
	color: black;
	line-height: 30px;
}

@media only screen and (max-width: 1366px) {
	.limits-banner .banner-details h1 {
		font-size: 52px;
		line-height: 50px;
	}
	.limits-banner .banner-details p {
		font-size: 24px;
		line-height: 33px;
	}
	.box-padding {
		padding-left: 14px !important;
	}
	.text-container {
		padding: 17px 90px 0px 90px;
	}
}
@media only screen and (max-width: 1024px) {
	.banner_container {
		padding: 75px 35px 100px 41px;
	}
}

@media only screen and (max-width: 768px) {


	.limits-banner {
		height: auto !important;
		background-image: none;
		background-color: #004c78;
		padding: 0;
	}
	.limits-banner .book-form-box {
		margin-top: 5px;
	}
	.limits-banner .book-form-box .head h1 {
		font-size: 20px;
	}
	.limits-banner .book-form-box .content {
		padding: 6px;
	}
	.limits-banner .banner-details h1 {
		font-size: 30px;
		text-align: center;
	}
	.banner_container {
		padding: 22px 0px 48px 0px;
	}
	.limits-banner .banner-details {
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 0;
		margin-left: 12px;
		margin-right: 12px;
	}
	.limits-banner .banner-details p {
		font-size: 16px;
		text-align: center;
		margin-top: 0px;
		line-height: 25px;
	}
	.limits-banner::before {
		display: none;
	}
	.h-md-100 {
		height: auto !important;
	}
	.limits-banner .book-form-box .head {
		display: block;
		text-align: center;
	}
	.limits-banner .banner-details p .block-span {
		display: inline-block;
	}
	.box-padding {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.text-container {
		padding: 27px 39px 49px 22px;
	}


}

/*  =============================BANNER COMPONENT  END  ================================= */

/*  ----------------------------------- OUR FLEET COMPONENT START -------------------------------- */

.carlist-wrapper {
	width: 100%;
	padding: 50px 0;
}
.carlist-wrapper h1 {
	color: #155a94;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	font-family: "helvet";
	text-transform: uppercase;
}

.carlist-wrapper .car-box img {
	margin-top: 8px;
	margin-bottom: 16px;
}

@media only screen and (max-width: 480px) {
	.carlist-wrapper .car-box {
		min-height: unset !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.limits-banner .banner-details h1 {
		font-size: 26px !important;
	}
}

.home_container {
	background-color: #f9fafb;
	padding: 77px 230px 100px 230px;
}

.car-box {
	margin-top: 28px;
	opacity: 1;
	min-height: 320px;
}

.image_card {
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
	background-color: black;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	padding: 20px 50px 10px 50px;
}

.text_card {
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px 50px 10px 20px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.text_card p {
	color: #475467;
	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
}

.text_card h2 {
	color: #101828;
	font-size: 22px;
	font-family: "helvet";
}

.text_card h3 {
	color: #004c78;
	font-size: 16px;
	font-weight: 500;
	margin-top: 15px;
}

.carlist-wrapper .list-details-box {
	margin-top: 24px;
	box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
	padding: 20px 46px 20px 78px;
}

.carlist-wrapper .list-details-box h4 {
	color: #004c78;
	font-size: 30px;
	font-weight: 600;
	font-family: "helvet";
	margin-right: 25px;
}

.carlist-wrapper .list-details-box p {
	color: #000000;
	margin-top: 15px;
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
}

.flag-div {
	width: fit-content;
}

/*  ============================= OUR FLEET COMPONENT END  ================================= */

/*  ----------------------------- COUPON COMPONENT START ------------------------------------- */

.offer-banner-img {
	position: relative;
	width: 100%;
	background-color: #004c78;
}
.image-container {
	position: relative;
}

.text-overlay {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	padding: 10px;
}
.text-overlay h1 {
	font-size: 60px;
	font-weight: 600;
	color: #ffffff;
}

.text-overlay p {
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;
	margin-top: 20px;
}

.text-overlay h3 {
	font-size: 32px;
	font-weight: 600;
	color: #ffffff;
	margin-top: 20px;
}
/*  ================================= COUPON COMPONENT END  ======================================= */

@media only screen and (max-width: 1366px) {
	.home_container {
		padding: 77px 60px 100px 60px;
	}
}

@media only screen and (max-width: 1024px) {
	.home_container {
		padding: 77px 30px 100px 30px;
	}
	.text_card {
		padding: 20px 15px 10px 15px;
	}
}
@media only screen and (max-width: 767px) {
	.carlist-wrapper .list-details-box {
		padding: 20px 15px 20px 12px;
	}

	.text-overlay h1 {
		font-size: 17px;
	}

	.text-overlay p {
		font-size: 12px;
		margin-top: 2px;
	}

	.text-overlay h3 {
		font-size: 13px;
		margin-top: 5px;
	}
}
