
.review-detailes-wrapper {
	background-color: #efefef;
}

.review-detailes-wrapper .details-content {
	background-color: #fff;
	padding: 20px;
}

.review-detailes-wrapper h1 {
	color: #155a94;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	font-family: "helvet";
	text-transform: uppercase;
}

.review-detailes-wrapper .details-content .head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.review-detailes-wrapper .details-content .head button {
	background-color: #155a94;
	border: 0;
	color: #FF6500;
	padding: 8px;
	border-radius: 3px;
	margin: 0 10px;
}

.review-detailes-wrapper .details-content .head p {
	color: #FF6500;
	margin: 0 10px;
}

.review-detailes-wrapper .details-content .box-content {
	margin-top: 40px;
}

.review-detailes-wrapper .details-content .min-h-box {
	min-height: 150px;
}

.review-detailes-wrapper .details-content .box-content h2 {
	border-bottom: 1px solid #999;
	color: #6f6f6f;
	padding-bottom: 4px;
	margin-bottom: 10px;
	font-weight: 600;
}
.review-detailes-wrapper .details-content .box-content h3 {
	color: #666;
}
.review-detailes-wrapper .details-content .box-content h4 {
	color: #666;
	font-size: 14px;
	margin-top: 8px;
}
.review-detailes-wrapper .details-content .box-content h5 {
	color: #666;
}

.review-detailes-wrapper .details-content .box-content .rating-box-inner {
	margin-top: 50px;
}

.review-detailes-wrapper
	.details-content
	.box-content
	.rating-box-inner
	.rating-box {
	margin-bottom: 50px;
}

.review-detailes-wrapper
	.details-content
	.box-content
	.rating-box-inner
	.rating-box
	h3 {
	color: #000;
	font-weight: bold;
}

.review-detailes-wrapper
	.details-content
	.box-content
	.rating-box-inner
	.rating-box
	h4 {
	color: #999;
	font-size: 14px;
}

.review-detailes-wrapper
	.details-content
	.box-content
	.rating-box-inner
	.rating-box
	h5 {
	color: #054e74;
	font-size: 14px;
}

.review-detailes-wrapper .details-content .box-content .progress-wrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-top: 4px;
}
.review-detailes-wrapper .details-content .box-content .progress-wrapper h4 {
	margin-top: 0;
}
.review-detailes-wrapper
	.details-content
	.box-content
	.progress-wrapper
	.progress {
	width: 350px;
	margin: 0 12px;
	height: 35px;
	border-radius: 0;
	border: 1px solid #d0d0d0;
}
.review-detailes-wrapper
	.details-content
	.box-content
	.progress-wrapper
	.progress
	.progress-bar {
	background-color: #FF6500;
}