.review-form-wrapper {
	/* background-color: #d3d3d3; */
	background-color: #dee2e6;
	padding: 50px 50px 50px 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
	height: 70vh;
}

.review-form-wrapper .review-box {
	background-color: #fff;
	width: 35%;
	padding: 40px;
	/* max-width: 400px; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.review-form-wrapper h1 {
	padding-left: 15px;
	font-size: 20px;
	font-weight: bolder;
}

.review-form-wrapper button {
	width: 100%;
	background-color: #ff6500;
	color: #fff;
	border: 0;
	border-radius: 25px;
	padding: 10px;
	text-transform: uppercase;
}

.review-form-wrapper textarea {
	border-radius: 8px;
	width: 100%;
	/* min-width: 300px; */

	padding: 15px;
}

.review-form-wrapper .firstName {
	border-radius: 8px;
	width: 100%;
	/* min-width: 300px; */

	padding: 10px;
}

.rate {
	padding: 10px 10px 20px 10px;
	float: left;
}

.rate:not(:checked) > input {
	position: absolute;
	top: -9999px;
}

.rate:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;
}

.rate:not(:checked) > label:before {
	content: "★ ";
}

.rate > input:checked ~ label {
	color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

.clear {
	clear: both !important;
}

@media only screen and (max-width: 767px) {
	.review-form-wrapper .review-box {
		width: 95%;
	}
}
