html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #000;
    font-family: 'Helvetica 55 Roman';
    font-size: 100%;
    color: #fff;
    margin: 0;
    text-align: left;
}

section {
    display: block;
}

#footer, #content {
    position: relative;
    width: 100%;
}

.commonbanner {
    position: relative;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(9,74,108,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(9,74,108,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(9,74,108,0.4) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66094a6c', endColorstr='#00000000',GradientType=0 );
}

.sub_banner_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(9,74,108,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(9,74,108,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(9,74,108,1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3094a6c', endColorstr='#00000000',GradientType=0 );
}

.commonbanner > img {
    width: 100%;
    object-fit: cover;
}

img {
    /* display: block; */
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

img, object, embed {
    max-width: 100%;
}

.subpagecontent {
    /* background-color: red; */
    width: 100%;

}

.subpagecontent > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    /* display: block; */
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

img, object, embed {
    max-width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.contact_wrapper {
    position: relative;
    margin: 4.8828125% 2.9296875% 2.9296875%;
    margin-top: 4.88281%;
    margin-right: 2.92969%;
    margin-bottom: 2.92969%;
    margin-left: 2.92969%;
}

div {
    display: block;
}

h1.reviewshead {
    text-align: center;
}

.contact_column h1, h1.reviewshead {
    color: white;
    position: relative;
    font-family: 'Helvetica Neue Condensed Bold';
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.columnwrapper {
    color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.columnwrapper > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.reviews_col {
    flex-basis: 23.85892116182573%;
    max-width: 23.85892116182573%;
    margin-bottom: 20px;
}

.name_date, .client_rating, .client_review {
    position: relative;
    display: block;
    font-family: 'Helvetica 55 Roman';
    font-size: 14px;
    line-height: 18px;
}

.columnwrapper > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* .reviews_col {
    flex-basis: 23.85892116182573%;
    max-width: 23.85892116182573%;
    margin-bottom: 20px;
} */

.name_date, .client_rating, .client_review {
    position: relative;
    display: block;
    font-family: 'Helvetica 55 Roman';
    font-size: 14px;
    line-height: 18px;
}

.client_rating {
    color: #f38422;
}

p {
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}