.review-form-wrapper {
	background-color: #00517c;

	padding: 100px;

	height: 100vh;
}

.review-form-wrapper .review-box {
	background-color: #fff;

	padding: 20px;

	max-width: 400px;

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);
}

.review-form-wrapper h1 {
	padding-left: 15px;

	font-size: 20px;

	font-weight: bolder;
}

.review-form-wrapper button {
	width: 100%;

	background-color: #ff700a;

	color: #fff;

	border: 0;

	border-radius: 25px;

	padding: 10px;

	text-transform: uppercase;
}

.review-form-wrapper textarea {
	border-radius: 8px;

	min-width: 300px;

	padding: 15px;
}




.rate {
	padding: 20px 10px;

	float: left;
}

.rate:not(:checked) > input {
	position: absolute;

	top: -9999px;
}

.rate:not(:checked) > label {
	float: right;

	width: 1em;

	overflow: hidden;

	white-space: nowrap;

	cursor: pointer;

	font-size: 30px;

	color: #ccc;
}

.rate:not(:checked) > label:before {
	content: "★ ";
}

.rate > input:checked ~ label {
	color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

.clear {
	clear: both !important;
}
