<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="author" content="">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="language" content="ES">
    <title>Booking</title>

    <link rel="icon" type="img/ico" sizes="32x32" href="images/fav.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header class="limits-header-wrapper">

        <div class="sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <ul>
                            <li>
                                <a href="#"><img src="images/call.png" alt=""> 02039822911</a>
                            </li>
                            <li>
                                <a href="#"><img src="images/mail.png" alt=""></a>
                            </li>
                            <li>
                                <button>Book Online</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                    </ul>
                    <ul class="sub-header-responsive">
                        <li>
                            <a href="#"><img src="images/call.png" alt=""> 02039822911</a>
                        </li>
                        <li>
                            <a href="#"><img src="images/mail.png" alt=""></a>
                        </li>
                        <li>
                            <button>Book Online</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="booking">

        <div class="inner-header-wrapper text-center">
            <div class="container">
                <h1>Booking Form</h1>
            </div>
        </div>

        <section class="booking-setnew">
            <div class="container">
                <div class="book-form-box">
                    <div class="head">
                        <h1>BOOK A TAXI</h1>
                    </div>
                    <div class="content">
                        <div class="form-inner">
                            <div class="form-group">
                                <label>PICKUP LOCATION</label>
                                <input type="text" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label>PICKUP LOCATION</label>
                                    <button><span><i class="fa fa-minus-circle" aria-hidden="true"></i></span><i class="fa fa-plus-circle" aria-hidden="true"></i> Multi Route</button>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter a location">
                            </div>
                            <button class="submit-btn">Choose a Vehicle <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="limits-footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h1>Book a Taxy</h1>
                    <h2>Tel: 02039822911</h2>
                </div>
                <div class="col-md-4 text-center">
                    <img src="images/logo.png" class="img-fluid" alt="Logo">
                    <h3>All major credit cards acepted</h3>
                    <ul class="social-media">
                        <li>
                            <a href="#"><img src="images/twitter.png" alt="icon"></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/linkedin.png" alt="icon"></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/insta.png" alt="icon"></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/facebook.png" alt="icon"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h1>Email us</h1>
                    <h2>info@nolimitcars.co.uk</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="side-menu">
                        <li>© NOLIMIT Cars 2017</li>
                        <li>About</li>
                        <li>Terms</li>
                        <li>Drivers</li>
                        <li>Areas</li>
                    </ul>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </footer>

    <script src="https://use.fontawesome.com/1e36072efd.js"></script>
    <script src="js/jquery.3.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>